<h1>Play!</h1>

<div id="tarjeta">

    <%= image_tag('hit.png') if @hit==1 %>
    <%= image_tag('fail.png') if @hit==0 %>

     <% if not @nouns_played.nil? %>
        <p class="derecha">Hits <%= @hits %> / <%= @nouns_played %> </p>
     <% end %>

    <%= form_tag(next_path, :method => "post") do %>
      <%= submit_tag("Der", :class => "button") %>
      <%= submit_tag("Das", :class => "button") %>
      <%= submit_tag("Die", :class => "button") %>

      <%= hidden_field_tag(:id, @noun.id) %>
      <%= hidden_field_tag(:article, @noun.article) %>

      <h2><%= @noun.word %></h2>
     <% end %>
</div>

<br />
  <%= link_to 'Finish',finish_path %>
